:root {
    font-family: Inter, sans-serif;

    --is-dark: false;
    --text-color-light: #010101;
    --text-color-dark: #f0f0f0;
    --background-color-light: #fafafa;
    --background-color-dark: #0a0a0a;
    --background-color2-light: #f0f0f0;
    --background-color2-dark: #010101;
    --background-color3-light: #e0e0e0;
    --background-color3-dark: #101010;
    --background-color3-light-60op: rgba(224, 224, 224, 0.6);
    --background-color3-dark-60op: rgba(16, 16, 16, 0.6);
    --background-color4-light: #7e7e7e;
    --background-color4-dark: #5e5e5e;
    --background-color4-light-20op: rgba(126, 126, 126, 0.2);
    --background-color4-dark-20op: rgba(94, 94, 94, 0.2);

    --background-full-light-50op: rgba(255, 255, 255, 0.5);
    --background-full-dark-50op: rgba(0, 0, 0, 0.5);

    --accent-color-light: #9bd09b;
    --accent-color-dark: #334633;

    transition: .15s ease-out;

    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

.sidebar {
    height: 95%;
    width: 70px;
    position: fixed;
    left: 0;
    top: 0;
    /*padding-top: 40px;*/
    padding-top: 20px;
    /*padding-left: 5px;*/
    /*background-color: lightblue;*/
    background-color: var(--background-color2-light);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sidebar > * {
    margin-bottom: 10px;
    display: block;
    padding-left: 20px;

    cursor: pointer;
}
#sidebar-aft {
    /*right: 10px;*/
    padding-right: 20px;
    border-radius: 0 20px 20px 0;
}
.sidebar > div > span {
    /*material uses span to get icon information*/
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */


    padding: 10px;
    /*border-radius: 50%;*/ /*squircle > round*/
    border-radius: 7px;
    transition: .25s ease-out;
}
.sidebar > div > span:hover {
    background: var(--background-color3-light);
}

.rotate360 {
    animation: r360 .35s ease-out;
}
@keyframes r360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.content {
    font-size: 18px;


    /*overflow-y: scroll;*/
    /*height: 100vh;*/
    /*margin: 0;*/
    margin: 0 0 0 70px; /*left margin 150*/
    /*padding: 0;*/

    /*flex-grow: 1;*/
    /*scroll-snap-type: y mandatory;*/
}

.content > section {
    /*scroll-snap-align: start;*/ /*scroll snap no work*/
    /*scroll-snap-stop: always;*/

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@property --bg-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
}
@keyframes spin {
    to {
        --bg-angle: 360deg;
    }
}
/*#head-button {*/
/*    !*background: none;*!*/
/*    padding: 5px;*/
/*}*/
#box {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*width: 400px;*/
    /*height: 200px;*/
    /*color: white;*/
    /*font-size: 2.5rem;*/
    max-width: fit-content;
    padding: 5px;
    cursor: pointer;
}
#head-button {
    color: var(--text-color-light);
    max-width: fit-content;
    padding: 7px;
    cursor: pointer;
    transition: .25s ease-out;
}
#head-button:hover {
    /*background: var(--background-color4-light);*/
    /*border-radius: 10px;*/
    color: var(--accent-color-dark);
}
.gradient-border {
    --borderWidth: 2px;
    background: var(--background-color-light);
    position: relative;
    border-radius: 7px;
}
.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    /*background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);*/
    background: linear-gradient(135deg,#60CAFC,#2F65FF,#A56CFF,#5D2EFF);
    /*border-radius: calc(2 * var(--borderWidth));*/
    border-radius: 7px;
    z-index: -1;
    animation: animatedgradient 15s ease alternate infinite;
    background-size: 300% 300%;
}
.gradient-border:after:hover {
    animation: animatedgradient 1s ease alternate infinite;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}






.head-1 {
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.static-gradient-1{
    background: linear-gradient(135deg,#60CAFC,#2F65FF,#A56CFF,#5D2EFF);
    background-size: 400% 400%; /**/
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-attachment: fixed;

}
#title-name {
    /*font-size:96px;*/
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
    text-align:left;
    animation: animated-gradient 15s infinite alternate-reverse;
}
#title-name2 {
    /*font-size:96px;*/
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
    text-align:left;
    animation: animated-gradient 30s infinite alternate-reverse;
}
@keyframes animated-gradient {
    to {
        background-position: 100%;
    }
}

/*.cards {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*}*/

.cards {
    margin-right: 70px;
    /*width: 100%;*/
    /*margin: 0;*/
    /*background: black;*/
    /*font-family: Verdana, sans-serif;*/
    /*color: white;*/
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*align-items: center;*/
    /*align-content: center;*/
    /*min-height: 100vh;*/
    gap: 10px;
    flex-wrap: wrap;
}

/*.card {*/
/*    border: 1px solid #000;*/
/*    border-radius: 10px;*/
/*    margin: 10px;*/
/*    !*padding: 10px;*!*/
/*    padding: 10px 50px 10px 50px;*/
/*    !*flex-basis: calc(33.33% - 20px); !* Assuming you want 3 cards per row, adjust as needed *!*!*/
/*}*/






.blob {
    filter: blur(40px);
    position: absolute;
    z-index: -1;
    top: 0;
    opacity: 0;
    left: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /*background: rgb(255, 255, 255, 0.5);*/
    background: var(--background-full-dark-50op);
    transition: all 300ms ease-in-out;
}

.fakeblob {
    /*display: none;*/
    visibility: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.card {
    overflow: hidden;
    padding: 2px;
    margin: 0;
    /*background: rgb(128 128 128 / 0.2);*/
    background: var(--background-color4-light-20op);
    border-radius: 8px;
    position: relative;
    transition: all 300ms ease-in-out;

    cursor: pointer;
}
.card:hover {
    transform: scale(101%);
}

.inner {
    border-radius: 7px;
    padding: 20px;
    /*width: 210px;*/
    /*height: 150px;*/
    width: 350px;
    height: 300px;
    /*background: rgb(26,26,26);*/
    background: var(--background-color3-light);
    /*background: var(--background-color-light);*/
    backdrop-filter: blur(80px);
    transition: all .15s ease-in-out;
}

.card:hover > .inner {
    /*background: rgb(26,26,26, 0.6);*/
    background: var(--background-color3-light-60op);
    backdrop-filter: blur(80px);
}

.inner > h1 {
    font-size: 24px;
    margin: 0 0 10px 0;
}
