@tailwind base;
@tailwind components;
@tailwind utilities;


.static-gradient-1 {
    background: linear-gradient(135deg,
            #60cafc,
            #2f65ff,
            #a56cff,
            #5d2eff);
    background-size: 400% 400%;
    /**/
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-attachment: fixed;
}

.static-gradient-2 {
    background: #8360c3;
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -webkit-linear-gradient(to right, #2ebf91, #83bcd2);
    background: linear-gradient(to right, #2ebf91, #83bcd2);
    background-size: 400% 400%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title-name {
    /*font-size:96px;*/
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: left;
    animation: animated-gradient 15s infinite alternate-reverse;
}

@keyframes animated-gradient {
    to {
        background-position: 100%;
    }
}