:root {
    --particle-color: #aeaece;
}

.particle {
    position: absolute;
    border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
    100% {
        transform: translate3d(58vw, 47vh, 66px);
    }
}

@keyframes particle-animation-1 {
    100% {
        transform: translate3d(58vw, 47vh, 66px);
    }
}
.particle:nth-child(1) {
    -webkit-animation: particle-animation-1 60s linear infinite;
    animation: particle-animation-1 60s linear infinite;
    opacity: 0.9;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
    transform: translate3d(32vw, 79vh, 52px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-2 {
    100% {
        transform: translate3d(36vw, 10vh, 86px);
    }
}

@keyframes particle-animation-2 {
    100% {
        transform: translate3d(36vw, 10vh, 86px);
    }
}
.particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s linear infinite;
    animation: particle-animation-2 60s linear infinite;
    opacity: 0.31;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
    transform: translate3d(57vw, 89vh, 21px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-3 {
    100% {
        transform: translate3d(59vw, 33vh, 68px);
    }
}

@keyframes particle-animation-3 {
    100% {
        transform: translate3d(59vw, 33vh, 68px);
    }
}
.particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s linear infinite;
    animation: particle-animation-3 60s linear infinite;
    opacity: 0.97;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
    transform: translate3d(39vw, 20vh, 20px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-4 {
    100% {
        transform: translate3d(51vw, 77vh, 50px);
    }
}

@keyframes particle-animation-4 {
    100% {
        transform: translate3d(51vw, 77vh, 50px);
    }
}
.particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s linear infinite;
    animation: particle-animation-4 60s linear infinite;
    opacity: 0.15;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    transform: translate3d(74vw, 86vh, 22px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-5 {
    100% {
        transform: translate3d(53vw, 67vh, 96px);
    }
}

@keyframes particle-animation-5 {
    100% {
        transform: translate3d(53vw, 67vh, 96px);
    }
}
.particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s linear infinite;
    animation: particle-animation-5 60s linear infinite;
    opacity: 0.54;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    transform: translate3d(61vw, 10vh, 47px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-6 {
    100% {
        transform: translate3d(81vw, 50vh, 32px);
    }
}

@keyframes particle-animation-6 {
    100% {
        transform: translate3d(81vw, 50vh, 32px);
    }
}
.particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s linear infinite;
    animation: particle-animation-6 60s linear infinite;
    opacity: 0.63;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
    transform: translate3d(90vw, 79vh, 84px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-7 {
    100% {
        transform: translate3d(22vw, 1vh, 67px);
    }
}

@keyframes particle-animation-7 {
    100% {
        transform: translate3d(22vw, 1vh, 67px);
    }
}
.particle:nth-child(7) {
    -webkit-animation: particle-animation-7 60s linear infinite;
    animation: particle-animation-7 60s linear infinite;
    opacity: 0.51;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s;
    transform: translate3d(18vw, 52vh, 26px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-8 {
    100% {
        transform: translate3d(41vw, 78vh, 48px);
    }
}

@keyframes particle-animation-8 {
    100% {
        transform: translate3d(41vw, 78vh, 48px);
    }
}
.particle:nth-child(8) {
    -webkit-animation: particle-animation-8 60s linear infinite;
    animation: particle-animation-8 60s linear infinite;
    opacity: 0.4;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s;
    transform: translate3d(33vw, 69vh, 14px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-9 {
    100% {
        transform: translate3d(89vw, 51vh, 76px);
    }
}

@keyframes particle-animation-9 {
    100% {
        transform: translate3d(89vw, 51vh, 76px);
    }
}
.particle:nth-child(9) {
    -webkit-animation: particle-animation-9 60s linear infinite;
    animation: particle-animation-9 60s linear infinite;
    opacity: 0.41;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
    transform: translate3d(63vw, 41vh, 64px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-10 {
    100% {
        transform: translate3d(67vw, 53vh, 24px);
    }
}

@keyframes particle-animation-10 {
    100% {
        transform: translate3d(67vw, 53vh, 24px);
    }
}
.particle:nth-child(10) {
    -webkit-animation: particle-animation-10 60s linear infinite;
    animation: particle-animation-10 60s linear infinite;
    opacity: 0.01;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    transform: translate3d(84vw, 63vh, 81px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-11 {
    100% {
        transform: translate3d(23vw, 42vh, 91px);
    }
}

@keyframes particle-animation-11 {
    100% {
        transform: translate3d(23vw, 42vh, 91px);
    }
}
.particle:nth-child(11) {
    -webkit-animation: particle-animation-11 60s linear infinite;
    animation: particle-animation-11 60s linear infinite;
    opacity: 0.54;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s;
    transform: translate3d(2vw, 90vh, 58px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-12 {
    100% {
        transform: translate3d(15vw, 54vh, 78px);
    }
}

@keyframes particle-animation-12 {
    100% {
        transform: translate3d(15vw, 54vh, 78px);
    }
}
.particle:nth-child(12) {
    -webkit-animation: particle-animation-12 60s linear infinite;
    animation: particle-animation-12 60s linear infinite;
    opacity: 0.1;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
    transform: translate3d(35vw, 28vh, 82px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-13 {
    100% {
        transform: translate3d(79vw, 29vh, 52px);
    }
}

@keyframes particle-animation-13 {
    100% {
        transform: translate3d(79vw, 29vh, 52px);
    }
}
.particle:nth-child(13) {
    -webkit-animation: particle-animation-13 60s linear infinite;
    animation: particle-animation-13 60s linear infinite;
    opacity: 0.1;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -2.6s;
    animation-delay: -2.6s;
    transform: translate3d(84vw, 53vh, 46px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-14 {
    100% {
        transform: translate3d(4vw, 11vh, 51px);
    }
}

@keyframes particle-animation-14 {
    100% {
        transform: translate3d(4vw, 11vh, 51px);
    }
}
.particle:nth-child(14) {
    -webkit-animation: particle-animation-14 60s linear infinite;
    animation: particle-animation-14 60s linear infinite;
    opacity: 0.82;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -2.8s;
    animation-delay: -2.8s;
    transform: translate3d(90vw, 75vh, 71px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-15 {
    100% {
        transform: translate3d(89vw, 28vh, 18px);
    }
}

@keyframes particle-animation-15 {
    100% {
        transform: translate3d(89vw, 28vh, 18px);
    }
}
.particle:nth-child(15) {
    -webkit-animation: particle-animation-15 60s linear infinite;
    animation: particle-animation-15 60s linear infinite;
    opacity: 0.21;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    transform: translate3d(78vw, 12vh, 24px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-16 {
    100% {
        transform: translate3d(4vw, 71vh, 32px);
    }
}

@keyframes particle-animation-16 {
    100% {
        transform: translate3d(4vw, 71vh, 32px);
    }
}
.particle:nth-child(16) {
    -webkit-animation: particle-animation-16 60s linear infinite;
    animation: particle-animation-16 60s linear infinite;
    opacity: 0.47;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -3.2s;
    animation-delay: -3.2s;
    transform: translate3d(66vw, 16vh, 60px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-17 {
    100% {
        transform: translate3d(24vw, 83vh, 100px);
    }
}

@keyframes particle-animation-17 {
    100% {
        transform: translate3d(24vw, 83vh, 100px);
    }
}
.particle:nth-child(17) {
    -webkit-animation: particle-animation-17 60s linear infinite;
    animation: particle-animation-17 60s linear infinite;
    opacity: 0.4;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -3.4s;
    animation-delay: -3.4s;
    transform: translate3d(27vw, 24vh, 42px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-18 {
    100% {
        transform: translate3d(78vw, 84vh, 53px);
    }
}

@keyframes particle-animation-18 {
    100% {
        transform: translate3d(78vw, 84vh, 53px);
    }
}
.particle:nth-child(18) {
    -webkit-animation: particle-animation-18 60s linear infinite;
    animation: particle-animation-18 60s linear infinite;
    opacity: 0.24;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
    transform: translate3d(76vw, 52vh, 97px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-19 {
    100% {
        transform: translate3d(63vw, 23vh, 71px);
    }
}

@keyframes particle-animation-19 {
    100% {
        transform: translate3d(63vw, 23vh, 71px);
    }
}
.particle:nth-child(19) {
    -webkit-animation: particle-animation-19 60s linear infinite;
    animation: particle-animation-19 60s linear infinite;
    opacity: 0.13;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3.8s;
    animation-delay: -3.8s;
    transform: translate3d(10vw, 89vh, 48px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-20 {
    100% {
        transform: translate3d(39vw, 68vh, 64px);
    }
}

@keyframes particle-animation-20 {
    100% {
        transform: translate3d(39vw, 68vh, 64px);
    }
}
.particle:nth-child(20) {
    -webkit-animation: particle-animation-20 60s linear infinite;
    animation: particle-animation-20 60s linear infinite;
    opacity: 0.31;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    transform: translate3d(64vw, 22vh, 44px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-21 {
    100% {
        transform: translate3d(38vw, 50vh, 95px);
    }
}

@keyframes particle-animation-21 {
    100% {
        transform: translate3d(38vw, 50vh, 95px);
    }
}
.particle:nth-child(21) {
    -webkit-animation: particle-animation-21 60s linear infinite;
    animation: particle-animation-21 60s linear infinite;
    opacity: 0.88;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -4.2s;
    animation-delay: -4.2s;
    transform: translate3d(48vw, 87vh, 96px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-22 {
    100% {
        transform: translate3d(84vw, 77vh, 57px);
    }
}

@keyframes particle-animation-22 {
    100% {
        transform: translate3d(84vw, 77vh, 57px);
    }
}
.particle:nth-child(22) {
    -webkit-animation: particle-animation-22 60s linear infinite;
    animation: particle-animation-22 60s linear infinite;
    opacity: 0.22;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -4.4s;
    animation-delay: -4.4s;
    transform: translate3d(20vw, 18vh, 48px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-23 {
    100% {
        transform: translate3d(18vw, 59vh, 35px);
    }
}

@keyframes particle-animation-23 {
    100% {
        transform: translate3d(18vw, 59vh, 35px);
    }
}
.particle:nth-child(23) {
    -webkit-animation: particle-animation-23 60s linear infinite;
    animation: particle-animation-23 60s linear infinite;
    opacity: 0.88;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -4.6s;
    animation-delay: -4.6s;
    transform: translate3d(39vw, 69vh, 57px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-24 {
    100% {
        transform: translate3d(8vw, 16vh, 94px);
    }
}

@keyframes particle-animation-24 {
    100% {
        transform: translate3d(8vw, 16vh, 94px);
    }
}
.particle:nth-child(24) {
    -webkit-animation: particle-animation-24 60s linear infinite;
    animation: particle-animation-24 60s linear infinite;
    opacity: 0.89;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
    transform: translate3d(29vw, 74vh, 15px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-25 {
    100% {
        transform: translate3d(33vw, 57vh, 87px);
    }
}

@keyframes particle-animation-25 {
    100% {
        transform: translate3d(33vw, 57vh, 87px);
    }
}
.particle:nth-child(25) {
    -webkit-animation: particle-animation-25 60s linear infinite;
    animation: particle-animation-25 60s linear infinite;
    opacity: 0.12;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    transform: translate3d(41vw, 87vh, 88px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-26 {
    100% {
        transform: translate3d(90vw, 4vh, 30px);
    }
}

@keyframes particle-animation-26 {
    100% {
        transform: translate3d(90vw, 4vh, 30px);
    }
}
.particle:nth-child(26) {
    -webkit-animation: particle-animation-26 60s linear infinite;
    animation: particle-animation-26 60s linear infinite;
    opacity: 0.47;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.2s;
    animation-delay: -5.2s;
    transform: translate3d(46vw, 89vh, 8px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-27 {
    100% {
        transform: translate3d(68vw, 75vh, 20px);
    }
}

@keyframes particle-animation-27 {
    100% {
        transform: translate3d(68vw, 75vh, 20px);
    }
}
.particle:nth-child(27) {
    -webkit-animation: particle-animation-27 60s linear infinite;
    animation: particle-animation-27 60s linear infinite;
    opacity: 0.17;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -5.4s;
    animation-delay: -5.4s;
    transform: translate3d(87vw, 43vh, 66px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-28 {
    100% {
        transform: translate3d(26vw, 81vh, 57px);
    }
}

@keyframes particle-animation-28 {
    100% {
        transform: translate3d(26vw, 81vh, 57px);
    }
}
.particle:nth-child(28) {
    -webkit-animation: particle-animation-28 60s linear infinite;
    animation: particle-animation-28 60s linear infinite;
    opacity: 0.41;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.6s;
    animation-delay: -5.6s;
    transform: translate3d(59vw, 41vh, 37px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-29 {
    100% {
        transform: translate3d(9vw, 75vh, 17px);
    }
}

@keyframes particle-animation-29 {
    100% {
        transform: translate3d(9vw, 75vh, 17px);
    }
}
.particle:nth-child(29) {
    -webkit-animation: particle-animation-29 60s linear infinite;
    animation: particle-animation-29 60s linear infinite;
    opacity: 0.27;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -5.8s;
    animation-delay: -5.8s;
    transform: translate3d(49vw, 50vh, 78px);
    background: var(--particle-color);
}

@-webkit-keyframes particle-animation-30 {
    100% {
        transform: translate3d(24vw, 36vh, 78px);
    }
}

@keyframes particle-animation-30 {
    100% {
        transform: translate3d(24vw, 36vh, 78px);
    }
}
.particle:nth-child(30) {
    -webkit-animation: particle-animation-30 60s linear infinite;
    animation: particle-animation-30 60s linear infinite;
    opacity: 0.38;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
    transform: translate3d(44vw, 26vh, 42px);
    background: var(--particle-color);
}
