:root{
    --main-color:#ffffff;
    --main-color-dark:#202020;
    --accent-color:#10a37f;
    --accent-color-dark:#0f8c6e;
    --secondary-color:#f5f5f5;
    --secondary-color-dark:#000000;

    --text-color:#000000;
    --text-color-light:#ffffff;

    font-family:Helvetica,sans-serif;
}
textarea{
    font-family:Helvetica,sans-serif;
    border-radius:.5em;
    padding:.5em;
}
button{
    background-color:var(--accent-color);
    color:var(--text-color-light);

    padding:0.5em;
    font-size:16px;

    border:none;
    border-radius:3px;
    box-sizing:border-box;
    cursor:pointer;
    /*display:inline-flex;*/
    font-weight:400;
    justify-content:center;
    /*position:relative;*/
    transition:0.3s ease-out;
}
button:hover{
    background-color:#1a7f64;
}
